<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Global.css" rel="stylesheet" />
    <script src="~/Scripts/Global.js"></script>
</head>
<body>
    <header id="head">
        <h2>
            @Html.ActionLink("W3.Klinik.Kami", "Index", "Index")
        </h2>
        <nav id="Dokter">
            <ul class="nav-menu">
                <li>@Html.ActionLink("menu", "#", null, new { @class = "btn-nav-menu" })</li>
                <li>@Html.ActionLink("menu", "#", null, new { @class = "btn-nav-menu" })</li>
                <li>@Html.ActionLink("menu", "#", null, new { @class = "btn-nav-menu" })</li>
            </ul>
        </nav>
        @*@{
            if (Convert.ToString(Session["JABATAN"]) == "DKR")
            {
                <nav id="Dokter">
                    <ul class="nav-menu">
                        <li>@Html.ActionLink("menu dokter", "#", null, new { @class = "btn-nav-menu" })</li>
                        <li>@Html.ActionLink("menu dokter", "#", null, new { @class = "btn-nav-menu" })</li>
                        <li>@Html.ActionLink("menu dokter", "#", null, new { @class = "btn-nav-menu" })</li>
                    </ul>
                </nav>
            }
            else if (Convert.ToString(Session["JABATAN"]) == "APR")
            {
                <nav id="Apoteker">
                    <ul class="nav-menu">
                        <li>@Html.ActionLink("menu apoteker", "#", null, new { @class = "btn-nav-menu" })</li>
                        <li>@Html.ActionLink("menu apoteker", "#", null, new { @class = "btn-nav-menu" })</li>
                        <li>@Html.ActionLink("menu apoteker", "#", null, new { @class = "btn-nav-menu" })</li>
                    </ul>
                </nav>
            }
            else
            {
                <nav id="Admin">
                    <ul class="nav-menu">
                        <li>@Html.ActionLink("menu admin", "#", null, new { @class = "btn-nav-menu" })</li>
                        <li>@Html.ActionLink("menu admin", "#", null, new { @class = "btn-nav-menu" })</li>
                        <li>@Html.ActionLink("menu admin", "#", null, new { @class = "btn-nav-menu" })</li>
                    </ul>
                </nav>
            }
        }*@

        <nav>
            <ul class="nav-menu">
                <li>@Html.ActionLink("Edit", "EditData", "Index", null, new { @class = "btn-edit" })</li>
                <li>@Html.ActionLink("Logout", "Logout", "Index", null, new { @class = "btn-logout" })</li>
            </ul>
        </nav>
    </header>

    <div class="head2">
        <b>Nama</b>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <div class="back-top" onclick="clickLinkByDiv('top')">
        <a href="#head" id="top"><b>Top</b></a>
    </div>
</body>
</html>