<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Global.css" rel="stylesheet" />
    <script src="~/Scripts/Global.js"></script>
</head>
<body>
    @{
        TB_USER dtUser = new TB_USER();
        if (ViewBag.DT_USER != null)
        {
            dtUser = (TB_USER)ViewBag.DT_USER;
        }
    }
    <header id="head">
        @* Foto profil, nama, jabatan *@
        <nav>
            <div class="form-item-flex margin-bottom-10px width-200px">
                <img src="@Url.Content(dtUser.FOTO)" alt="Foto - @dtUser.NAMA" title="@dtUser.NAMA" class="foto-profil" />
                <div class="form-item">
                    @dtUser.NAMA
                    @Html.Label(dtUser.TB_JABATAN.JABATAN)
                </div>
            </div>
        </nav>

        @* Home "W3.Klinik.Kami" *@
        <h2>
            @Html.ActionLink("W3.Klinik.Kami", "Index", "Index")
        </h2>

        @* Edit, Logout *@
        <nav>
            <ul class="nav-menu">
                <li>@Html.ActionLink("Edit", "EditData", "Index", null, new { @class = "btn-edit" })</li>
                <li><button type="button" class="btn-logout" onclick="ShowModalKw('logout', 'grid')">Logout</button></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        @* Dialog Logout *@
        <div class="modal-kw-dialog" id="logout" style="display: none;">
            <div class="modal-kw-content">
                <div class="close-modal-kw-dialog" onclick="ShowModalKw('logout', 'none')" title="Close">X</div>
                <table class="table-csm-text-align-left">
                    <tr>
                        <th colspan="2">Anda Yakin Akan Logout?</th>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="form-item-flex">
                                @Html.ActionLink("Yes", "Logout", "Index", null, new { @class = "a-decoration-none s-btn s-btn-lime" })&nbsp;
                                <button class="s-btn s-btn-orangered" type="button" onclick="ShowModalKw('logout', 'none')">No</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @* Render content *@
        @RenderBody()
    </div>

    @* tombol menuju halaman paling atas *@
    <div class="back-top" onclick="clickLinkByDiv('top')">
        <a href="#head" id="top"><b>Top</b></a>
    </div>
</body>
</html>