@using PagedList;
@using PagedList.Mvc;
@model IPagedList<TB_KUNJUNGAN_PASIEN>

@{
    string search = Request.QueryString["search"] ?? "";
    int pageSize = Convert.ToInt32(Request.QueryString["pageSize"]);
    if (pageSize < 1)
    {
        pageSize = 8;
    }
}

@* ------------------------- Judul Menu -------------------------------------- *@
<div class="form-item">
    <h3>
        <u>Riwayat Pasien</u>
    </h3>
</div>

@* -------------------------- Nav Table -------------------------------------- *@
<div class="form-item-flex flex-sb-w100persen">
    <div>
        <b>Row Data:</b>
        @Html.DropDownList("pageSize", new List<SelectListItem>()
        {
            new SelectListItem{Text="3", Value="3"},
            new SelectListItem{Text="5", Value="5"},
            new SelectListItem{Text="8", Value="8"},
            new SelectListItem{Text="10", Value="10"},
            new SelectListItem{Text="15", Value="15"},
            new SelectListItem{Text="20", Value="20"}
        }, new { @onchange = $"location.href = '/{ViewData["controller"]}/RiwayatPasien?search={search}&pagesize=' + this.value", @class = "dr-kw" })
    </div>

    <div class="search">
        @using (Html.BeginForm("RiwayatPasien", $"{ViewData["controller"]}", FormMethod.Get))
        {
            @Html.TextBox("search", null, new { @placeholder = "ID / Nama Pasien..." })
            @Html.Hidden("pageSize")
            <input type="submit" value="Search" />
        }
    </div>
</div>

@* -------------------------- Table Riwayat kunjungan pasien ----------------- *@
<table class="table-csm">
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().TANGGAL_KUNJUNGAN)</th>
        <th>@Html.DisplayNameFor(model => model.First().ID_PASIEN)</th>
        <th>@Html.DisplayNameFor(model => model.First().TB_PASIEN.NAMA)</th>
        <th>Action</th>
    </tr>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.TANGGAL_KUNJUNGAN</td>
                <td>@item.ID_PASIEN</td>
                <td class="table-csm-text-align-left">@item.TB_PASIEN.NAMA</td>
                <td><button type="button" class="m-btn s-btn-gold" onclick="showDetail(@item.ID)">Detail Data Penanganan</button></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">
                <b class="text-error">Data Tidak Ada.</b>
            </td>
        </tr>
    }
</table>

@* -------------------------- Pageging --------------------------------------- *@
<div class="form-item">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @Html.PagedListPager(Model,
        page => Url.Action("RiwayatPasien", $"{ViewData["controller"]}", new { search, page, pageSize }),
        new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true
        })
</div>

@* -------------------------- Model Dialog untuk menampilkan data penanganan pasien terpilih ------------------ *@
<div class="modal-kw-dialog" id="data-pemeriksaan" style="display: none">
    <div class="modal-kw-content">
        <div class="close-modal-kw-dialog" onclick="ShowModalKw('data-pemeriksaan', 'none')" title="close">X</div>

        <div class="form-item-flex">
            <h3>
                <u>Data Penanganan Pasien.</u>
            </h3>
        </div>

        <div class="form-item-flex">
            ID:&nbsp;<text class="text-error" id="id-pasien"></text>,&nbsp;
            Nama:&nbsp; <text class="text-error" id="nama-pasien"></text>
        </div>

        <div class="form-item">
            <div class="label-form-item">@Html.Label("Keluhan")</div>
            @Html.TextArea("KELUHAN", new { @placeholder = "Keluhan", @id = "keluhan", @readonly = "true" })
        </div>

        <div class="form-item">
            <div class="label-form-item">@Html.Label("Pemeriksaan")</div>
            @Html.TextArea("PEMERIKSAAN", new { @placeholder = "Pemeriksaan", @id = "pemeriksaan", @readonly = "true" })
        </div>

        <div class="form-item">
            <div class="label-form-item">@Html.Label("Diagnosa")</div>
            @Html.TextArea("DIAGNOSA", new { @placeholder = "Diagnosa", @id = "diagnosa", @readonly = "true" })
        </div>

        <div class="form-item">
            <div class="label-form-item">@Html.Label("Resep Obat")</div>
            @Html.TextArea("RESEP_OBAT", new { @placeholder = "Resep Obat", @id = "resep-obat", @readonly = "true" })
        </div>

        <div class="form-item">
            <div class="label-form-item">@Html.Label("Keterangan")</div>
            @Html.TextArea("KETERANGAN", new { @placeholder = "Keterangan", @id = "keterangan", @readonly = "true" })
        </div>

        <div class="form-item">
            <button type="button" class="m-btn s-btn-foresgreen">Cetak Riwayat</button>
        </div>
    </div>
</div>

@* ---------------- untuk mengambil data penanganan pasien terpilih, dan di inputkan ke form yg berada pada model dialog ------------------ *@
<script type="text/javascript">
    function showDetail(idKunjungan) {
        let urlDetail = '/RiwayatPasien/detailpenanganan?idKunjungan=';
        urlDetail += idKunjungan;

        $.ajax({
            type: 'get',
            url: urlDetail,
            data: null,
            success: function (data) {
                $('#id-pasien').html(data[0].ID_PASIEN);
                $('#nama-pasien').html(data[0].NAMA_PASIEN);
                $('#keluhan').val(data[0].KELUHAN);
                $('#pemeriksaan').val(data[0].PEMERIKSAAN);
                $('#diagnosa').val(data[0].DIAGNOSA);
                $('#resep-obat').val(data[0].RESEP_OBAT);
                $('#keterangan').val(data[0].KETERANGAN);
                ShowModalKw('data-pemeriksaan', 'grid');
            },
            error: function () {
                alert('Error Kemungkinan Server Mati.');
                ShowModalKw('data-pemeriksaan', 'none');
            }
        });

        
    }
</script>