@model IEnumerable<TB_KUNJUNGAN_PASIEN>

<div class="body-content">
    <table>

        <tr class="ver-alg-0">


            <td class="min-max-width-400-px">
                @* judul & table untuk menampilkan data antrian *@
                <h4><u>Antrian Pasien</u></h4>
                <b>Jumlah Antrian Pasien:</b> <text id="jml-antrian">@Model.Count()</text>
                <table class="table-csm" id="tb-antrian">
                    <tr>
                        <th>ID Pasien</th>
                        <th>Nama Pasien</th>
                    </tr>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr id="@item.ID">
                                <td>@item.TB_PASIEN.ID</td>
                                <td class="table-csm-text-align-left min-max-width-400-px">@item.TB_PASIEN.NAMA</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">
                                <text class="text-error">Tidak Ada Antrian.</text>
                            </td>
                        </tr>
                    }
                </table>
            </td>


            <td>
                <div class="content-body-content height-max-content">
                    @{
                        TB_DATA_PENANGANAN_PASIEN dataPenanganan = new TB_DATA_PENANGANAN_PASIEN();
                        int? idKunjungan = null;
                        if (ViewBag.IdPasienTerpilih != null)
                        {
                            idKunjungan = Convert.ToInt32(ViewBag.IdPasienTerpilih);
                            dataPenanganan = Model
                                .Single(d => d.ID == idKunjungan)
                                .TB_DATA_PENANGANAN_PASIEN
                                .Single();
                            <script type="text/javascript">
                                document.getElementById(@dataPenanganan.ID_KUNJUNGAN_PASIEN).style.background = "greenyellow";
                            </script>
                        }
                    }

                    @* Keluhan Pasien *@
                    <div class="form-item">
                        <div class="label-form-item">@Html.Label("Keluhan")</div>
                        @Html.TextArea("KELUHAN", dataPenanganan.KELUHAN, new { @placeholder = "Keluhan", @readonly = "true" })
                    </div>

                    @* Pemeriksaan Pasien *@
                    <div class="form-item">
                        <div class="label-form-item">@Html.Label("Pemeriksaan")</div>
                        @Html.TextArea("PEMERIKSAAN", dataPenanganan.PEMERIKSAAN, new { @placeholder = "Pemeriksaan", @readonly = "true" })
                    </div>

                    @* Diagnosa *@
                    <div class="form-item">
                        <div class="label-form-item">@Html.Label("Diagnosa")</div>
                        @Html.TextArea("DIAGNOSA", dataPenanganan.DIAGNOSA, new { @placeholder = "Diagnosa", @readonly = "true" })
                    </div>

                    @* Resep Obat *@
                    <div class="form-item">
                        <div class="label-form-item">@Html.Label("Resep Obat")</div>
                        @Html.TextArea("RESEP_OBAT", dataPenanganan.RESEP_OBAT, new { @placeholder = "Resep Obat", @readonly = "true" })
                    </div>

                    @* Keterangan *@
                    <div class="form-item">
                        <div class="label-form-item">@Html.Label("Keterangan")</div>
                        @Html.TextArea("KETERANGAN", dataPenanganan.KETERANGAN, new { @placeholder = "Keterangan", @readonly = "true" })
                    </div>

                    <div class="form-item">
                        <div class="form-item-flex">
                            @if (Model.Count() > 0)
                            {
                                <script type="text/javascript">
                                    idSelanjutnya = @Model.First().ID;
                                </script>
                            }

                            @* menangani/racik obat untuk pasien berikutnya *@
                            @using (Html.BeginForm("RacikObat", "APR", FormMethod.Post, new { @id = "form-id-selanjutnya" }))
                            {
                                @Html.Hidden("ID_KUNJUNGAN_PASIEN_B")
                                <button type="button" class="m-btn s-btn-foresgreen" onclick="sbmForm('ID_KUNJUNGAN_PASIEN_B', 'form-id-selanjutnya');">
                                    Pasien Berikutnya
                                </button>
                            }&nbsp;

                            @* jika ada pasien terpilih untuk ditangani *@
                            @if (ViewBag.IdPasienTerpilih != null)
                            {
                                <button type="button" class="m-btn s-btn-orangered" onclick="ShowModalKw('data-racik-obat', 'grid')">
                                    Racik Obat
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </td>


        </tr>
    </table>
</div>

@* Begin: model kw -> form data racik obat --------------------------------------------------------------------------------- *@
@if (ViewBag.IdPasienTerpilih != null)
{
    var dtPasien = Model.Single(d => d.ID == idKunjungan);
    var dtDokter = new DbEntities().TB_DATA_PENANGANAN_PASIEN.Single(d => d.ID_KUNJUNGAN_PASIEN == idKunjungan).TB_USER;
    <div class="modal-kw-dialog" id="data-racik-obat" style="display: none">
        <div class="modal-kw-content">
            <div class="close-modal-kw-dialog" onclick="ShowModalKw('data-racik-obat', 'none')" title="close">X</div>

            <div class="form-item-flex">
                <h3>
                    <u>Data Racik Obat.</u>
                </h3>
            </div>

            <div class="form-item-flex flex-sb-w100persen">
                <table>
                    <tr>
                        <td><b>Tanggal Kunjungan</b></td>
                        <td>: <text class="text-error" id="tgl-pemeriksaan">@dtPasien.TANGGAL_KUNJUNGAN</text></td>
                    </tr>
                    <tr>
                        <td><b>Nama Pasien</b></td>
                        <td>: <text class="text-error" id="nama-pasien">@dtPasien.TB_PASIEN.NAMA</text></td>
                    </tr>
                    <tr>
                        <td><b>ID Pasien</b></td>
                        <td>: <text class="text-error" id="id-pasien">@dtPasien.TB_PASIEN.ID</text></td>
                    </tr>
                    <tr>
                        <td><b>Nama Dokter</b></td>
                        <td>: <text class="text-error" id="nama-dokter">@dtDokter.NAMA</text></td>
                    </tr>
                    <tr>
                        <td><b>ID Dokter</b></td>
                        <td>: <text class="text-error" id="id-dokter">@dtDokter.ID</text></td>
                    </tr>
                </table>
            </div>

            @using (Html.BeginForm("SimpanDataObat", "APR", FormMethod.Post, new { @id = "form-data-racik-obat" }))
            {
                // ID Kunjungan Pasien
                @Html.Hidden("ID_KUNJUNGAN_PASIEN", idKunjungan)

                // Resep Obat
                <div class="form-item">
                    <div class="label-form-item">@Html.Label("Resep Obat")</div>
                    @Html.TextArea("RESEP_OBAT", dataPenanganan.RESEP_OBAT, new { @placeholder = "Resep Obat", @readonly = "true" })
                </div>

                // Aturan Pakai Obat
                <div class="form-item">
                    <div class="label-form-item">@Html.Label("Aturan Pakai Obat")</div>
                    @Html.TextArea("ATURAN_PAKAI", null, new { @placeholder = "Aturan Pakai Obat" })
                    <span id="aturan-pakai-err" class="text-error"></span>
                </div>

                // Harga Total Obat
                <div class="form-item">
                    <div class="label-form-item">@Html.Label("Harga Total Obat")</div>
                    @Html.TextBox("HARGA_OBAT", null, new { @placeholder = "Harga Total Obat", @type = "number" })
                    <span id="harga-obat-err" class="text-error"></span>
                </div>

                // Keterangan
                <div class="form-item">
                    <div class="label-form-item">@Html.Label("Keterangan")</div>
                    @Html.TextArea("KETERANGAN", null, new { @placeholder = "Keterangan" })
                </div>

                // tommbol submit
                <div class="form-item">
                    <button type="button" class="m-btn s-btn-foresgreen" onclick="submitFormDataRacikObat();">
                        Submit
                    </button>
                </div>
            }
        </div>
    </div>
}
@* End: model kw -> form data racik obat --------------------------------------------------------------------------------- *@

<audio id="notif">
    <source src="~/Audio/EQLDS52-start-button.mp3" type="audio/mpeg" />
</audio>

@* Begin: Javascript ------------------------------------------------------------------------------------------------------- *@
@*<script src="~/Scripts/jquery-3.6.0.js"></script>*@
<script type="text/javascript">
    var idSelanjutnya;
    var jmlDataSaatIni = @Model.Count();

    // function untuk 'antrian berikutnya'
    function sbmForm(nameField, idForm) {
        if (idSelanjutnya > 0 || idSelanjutnya !== undefined) {
            document.getElementById(nameField).value = idSelanjutnya;
            SubmitForm(idForm);
        } else {
            alert('Tidak Ada Antrian.');
        }
    }

    // function untuk submit form 'form-data-racik-obat' yg berisi:
    // - aturan pakai obat,
    // - harga total obat,
    // - keterangan.
    function submitFormDataRacikObat() {
        let verSubmit = [];

        if ($('#ATURAN_PAKAI').val().length > 0) {
            $('#aturan-pakai-err').html('');
            verSubmit.push(true);
        } else {
            $('#aturan-pakai-err').html('Aturan Pakai Obat Harus Diisi.');
            verSubmit.push(false);
        }

        if ($('#HARGA_OBAT').val().length > 0) {
            $('#harga-obat-err').html('');
            verSubmit.push(true);
        } else {
            $('#harga-obat-err').html('Harga Obat Harus Diisi.');
            verSubmit.push(false);
        }

        let submit = verSubmit.every(function (v) {
            return v == true;
        });

        if (submit) {
            SubmitForm('form-data-racik-obat');
        }
    }

    // cek update data antrian/pasien
    setInterval(function () {
        $.ajax({
            type: 'get',
            url: '/APR/UpdateData',
            data: null,
            success: function (data) {
                if (data.length > jmlDataSaatIni) {
                    // jika data sebelumnya kosong
                    if (jmlDataSaatIni < 1) {
                        idSelanjutnya = data[0].ID;
                        $('#tb-antrian').html('<tr><th> ID Pasien</th><th>Nama Pasien</th></tr>');
                    }

                    // tambahkan data antrian ke table
                    for (let i = jmlDataSaatIni; i < data.length; i++) {
                        $('#tb-antrian').append(
                            '<tr id="' + data[i].ID +
                            '" style="background-color: yellow;">' +
                            '<td>' + data[i].ID_PASIEN + '</td>' +
                            '<td class="table-csm-text-align-left min-max-width-400-px">' +
                            data[i].NAMA + '</td></tr>'
                        );
                    }

                    //document.getElementById('notif').play;

                    // update jumlah data saat ini
                    jmlDataSaatIni = data.length;
                    $('#jml-antrian').html(jmlDataSaatIni);
                }
            }
        });
    }, 1000);
</script>
@* End: Javascript ------------------------------------------------------------------------------------------------------- *@