@model W3KlinikKami.Models.TB_USER

@{
    ViewBag.Title = "Edit";
}

<div class="edit-body">
    <div class="edit-submenu">
        <div id="dt" class="btn-edit-submenu" onclick="clickLinkByDiv('btn-dt')">
            @Html.ActionLink("Edit Data", "EditData", "Index", null, new { id = "btn-dt" })
        </div>
        <div id="us" class="btn-edit-submenu" onclick="clickLinkByDiv('btn-us')">
            @Html.ActionLink("Edit Username", "EditUsername", "Index", null, new { id = "btn-us" })
        </div>
        <div id="ps" class="btn-edit-submenu" onclick="clickLinkByDiv('btn-ps')">
            @Html.ActionLink("Edit Password", "EditPassword", "Index", null, new { id = "btn-ps" })
        </div>
    </div>

    <div class="edit-content">
        <script type="text/javascript">
            const arrId = ["dt", "us", "ps"];
            function clickBtnSubmenu(btn) {
                changeClassName(arrId, btn, "btn-edit-submenu", "btn-edit-submenu-active");
            }
        </script>
        @{
            if (ViewBag.EditMode == "Edit Data")
            {
                <script type="text/javascript">clickBtnSubmenu("dt");</script>
                @Html.Partial("~/Views/Index/Form-EditData/Data.cshtml", Model)
            }
            else if (ViewBag.EditMode == "Edit Username")
            {
                <script type="text/javascript">clickBtnSubmenu("us");</script>
                @Html.Partial("~/Views/Index/Form-EditData/Username.cshtml")
            }
            else
            {
                <script type="text/javascript">clickBtnSubmenu("ps");</script>
                @Html.Partial("~/Views/Index/Form-EditData/Password.cshtml")
            }
        }
    </div>
</div>