@model W3KlinikKami.Models.TB_AKUN

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Index/Login.css" rel="stylesheet" />
    <link href="~/Content/Index/Daftar-Akun-Baru.css" rel="stylesheet" />
    <script src="~/Scripts/Index/Login.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
</head>
<body>
    <div class="login-container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2><u>Login</u></h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @* username *@
            <div class="txt-login-container">
                @Html.TextBoxFor(Model => Model.USERNAME, null, new { @placeholder = "Username", @autocomplete = "off", @autofocus = "true" })
                @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
            </div>

            @* password *@
            <div class="txt-login-container">
                @Html.PasswordFor(Model => Model.PASSWORD_AKUN, new { @placeholder = "Password", @autocomplete = "off", @id = "pss" })
                @Html.ValidationMessageFor(model => model.PASSWORD_AKUN, "", new { @class = "text-danger" })
            </div>

            @* show password *@
            <div class="ckb-show-password">
                <input type="checkbox" id="show" onclick="showPassword(this.checked)" />
                <label for="show">Show Password</label>
            </div>

            @* button submit *@
            <div class="btn">
                <input type="submit" value="Login" />
            </div>
            <hr />
        }

        @* button datar akun baru *@
        <div class="btn">
            @Html.ActionLink("Daftar Akun Baru", "DaftarAkunBaru", "Index")
        </div>
    </div>
</body>
</html>