@model IPagedList<W3KlinikKami.Models.TB_PASIEN>
@using PagedList;
@using PagedList.Mvc;
@{
    Html.RenderPartial("~/Views/Shared/FlashMessage.cshtml");
    int pageSts = (Convert.ToInt32(Request.QueryString["page"]) < 1) ? 1 : Convert.ToInt32(Request.QueryString["page"]);
    string search = Request.QueryString["search"] ?? "";
    int pageSize = (Convert.ToInt32(Request.QueryString["pageSize"]) < 1) ? 5 : Convert.ToInt32(Request.QueryString["pageSize"]);
}

<div class="form-item">
    <h3><u>Data Pasien</u></h3>
</div>

<div class="form-item-flex flex-sb-w100persen">
    <div>
        <b>order by</b>
        @Html.DropDownList("order", new List<SelectListItem>()
        {
            new SelectListItem{Text="tes1", Value="1"},
            new SelectListItem{Text="tes2", Value="2"}
        }, new { @onchange = "alert(this.value)", @class = "dr-kw" })

        <b>row data</b>
        @Html.DropDownList("pageSize", new List<SelectListItem>()
        {
            new SelectListItem{Text="3", Value="3"},
            new SelectListItem{Text="5", Value="5"},
            new SelectListItem{Text="8", Value="8"},
            new SelectListItem{Text="10", Value="10"},
            new SelectListItem{Text="15", Value="15"},
            new SelectListItem{Text="20", Value="20"}
        }, new { @onchange = $"location.href = '/ADM/DataPasien?page={pageSts}&search={search}&pageSize=' + this.value;", @class = "dr-kw" })
    </div>

    <div class="search">
        @using (Html.BeginForm("DataPasien", "ADM", FormMethod.Get))
        {
            @Html.Hidden("pageSts")
            @Html.TextBox("search", null, new { @placeholder = "Nama Pasien..."})
            @Html.Hidden("pageSize")
            <input type="submit" value="Search" />
        }
    </div>
</div>

<style>
    .dr-kw {
        padding: 5px 10px;
        margin: 0;
        border: 2px solid black;
        border-radius: 15px;
        outline: none;
        width: max-content;
        cursor: pointer;
    }

        .dr-kw:hover, .dr-kw:focus {
            border: 2px solid red;
        }

    .search {
        font-family: Arial;
    }

        .search input[type=text], input[type="submit"] {
            padding: 5px 10px;
            margin: 0;
            border: 2px solid black;
            border-radius: 15px;
            outline: none;
        }

        .search input[type="text"]:hover, input[type="text"]:focus {
            border: 2px solid red;
        }

        .search input[type="submit"] {
            background-color: steelblue;
            color: azure;
            cursor: pointer;
        }

        .search input[type="submit"]:hover {
            background-color: darkslateblue;
            cursor: pointer;
        }
</style>

<table class="table-csm">
    @if (Model.Count > 0)
    {
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().ID)</th>
            <th>@Html.DisplayNameFor(model => model.First().NAMA)</th>
            <th>@Html.DisplayNameFor(model => model.First().TERDAFTAR)</th>
            <th>Action</th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                <td class="table-csm-text-align-left">@Html.DisplayFor(modelItem => item.NAMA)</td>
                <td>@Html.DisplayFor(modelItem => item.TERDAFTAR)</td>
                <td class="custom-link">
                    @*@Html.ActionLink("Kartu Pasien", "KartuPasien.aspx", "Report", new { @Id_Pasien = item.ID }, new { @target = "_blank" })*@
                    <button class="s-btn s-btn-lime" onclick="location.href = '/Report/KartuPasien.aspx?Id_Pasien=' + @item.ID">Kartu Pasien</button> |
                    <button class="s-btn s-btn-steelblue" type="button" onclick="ShowModalKw('e-@item.ID', 'grid')">Edit</button> |
                    <button class="s-btn s-btn-gold" type="button" onclick="ShowModalKw('d-@item.ID', 'grid')">Detail</button> |
                    <button class="s-btn s-btn-orangered" type="button" onclick="ShowModalKw('del-@item.ID', 'grid')">Delete</button>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4" class="text-error">Data tidak ada</td>
        </tr>
    }
</table>

<style>
    .s-btn {
        border: 2px solid black;
        border-radius: 15px;
        padding: 2px 5px;
        cursor: pointer;
    }

    .s-btn-steelblue {
        background-color: steelblue;
        color: azure;
    }

        .s-btn-steelblue:hover {
            background-color: darkslateblue;
        }

    .s-btn-gold {
        background-color: gold;
        color: black;
    }

        .s-btn-gold:hover {
            background-color: yellow;
        }

    .s-btn-orangered {
        background-color: orangered;
        color: azure;
    }

        .s-btn-orangered:hover {
            background-color: darkred;
        }

    .s-btn-lime {
        background-color: palegreen;
        color: black;
    }

        .s-btn-lime:hover {
            background-color: lime;
        }
</style>

@* PAGEGING *@
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="form-item-flex">
    @Html.PagedListPager(Model,
        page => Url.Action("DataPasien", new { page, search, pageSize }),
        new PagedListRenderOptions()
        {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true
        })
</div>

<style type="text/css">
    .modal-kw-dialog {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        background: rgba(0, 136, 169, 0.59);
        z-index: 9999;
    }

    .modal-kw-content {
        position: relative;
        background-color: whitesmoke;
        border: 2px solid black;
        border-radius: 15px;
        margin: auto;
        padding: 20px;
    }

    .close-modal-kw-dialog {
        position: absolute;
        margin: 0px 5px;
        top: 5px;
        right: 5px;
        cursor: pointer;
        color: dimgray;
        font-size: 15pt;
    }

        .close-modal-kw-dialog:hover {
            color: black;
        }
</style>

@foreach (var item in Model)
{
    @* Begin: Edit Data Pasien *@
    <div id="e-@item.ID" class="modal-kw-dialog" style="display: none">
        <div class="modal-kw-content">
            <div class="close-modal-kw-dialog" onclick="document.getElementById('e-@item.ID').style.display = 'none'" title="Close">
                X
            </div>
            @using (Html.BeginForm($"DataPasien_Edit", "ADM", new { @page = pageSts, search, pageSize }, FormMethod.Post))
            {
                <div class="form-item">
                    <h3><u>Edit Data Pasien</u></h3>
                </div>
                @Html.Hidden("ID", item.ID)
                @Html.Partial("~/Views/ADM/Form/DataPasien.cshtml", item)
            }
        </div>
    </div>
    if (TempData["ShowIdEdit"] != null)
    {
        if (item.ID == (int)TempData["ShowIdEdit"])
        {
            <script type="text/javascript">
                document.getElementById('e-@item.ID').style.display = 'grid';
            </script>
        }
    }
    @* Begin: Edit Data Pasien *@

    @* Begin: Detail Data Pasien *@
    <div id="d-@item.ID" class="modal-kw-dialog" style="display: none">
        <div class="modal-kw-content">
            <div class="close-modal-kw-dialog" onclick="document.getElementById('d-@item.ID').style.display = 'none'" title="Close">
                X
            </div>

            <div class="form-item">
                <h3><u>Detail Data Pasien</u></h3>
            </div>

            @* ID *@
            <div class="form-item">
                <div class="label-form-item">@Html.DisplayNameFor(model => model.First().ID)</div>
                @Html.TextBoxFor(mItem => item.ID, new { @readonly = "true" })
            </div>

            @* Nama *@
            <div class="form-item">
                <div class="label-form-item">@Html.DisplayNameFor(model => model.First().NAMA)</div>
                @Html.TextBoxFor(mItem => item.NAMA, new { @readonly = "true" })
            </div>

            @* jenis kelamin *@
            <div class="form-item">
                <div class="label-form-item">@Html.DisplayNameFor(model => model.First().JENIS_KELAMIN)</div>
                @Html.TextBoxFor(mItem => item.JENIS_KELAMIN, new { @readonly = "true" })
            </div>

            @* tanggal lahir *@
            <div class="form-item">
                <div class="label-form-item">@Html.DisplayNameFor(model => model.First().TANGGAL_LAHIR)</div>
                @Html.TextBox("TANGGAL_LAHIR", @item.TANGGAL_LAHIR.ToString("dd-MM-yyyy"), new { @readonly = "true" })
            </div>

            @* golongan darah *@
            <div class="form-item">
                <div class="label-form-item">@Html.DisplayNameFor(model => model.First().GOLONGAN_DARAH)</div>
                @Html.TextBoxFor(mItem => item.GOLONGAN_DARAH, new { @readonly = "true" })
            </div>

            @* nomor hp *@
            <div class="form-item">
                <div class="label-form-item">@Html.DisplayNameFor(model => model.First().NO_HP)</div>
                @Html.TextBoxFor(mItem => item.NO_HP, new { @readonly = "true" })
            </div>

            @* alamat *@
            <div class="form-item">
                <div class="label-form-item">@Html.DisplayNameFor(model => model.First().ALAMAT)</div>
                @Html.TextAreaFor(mItem => item.ALAMAT, new { @readonly = "true" })
            </div>

            @* terdaftar *@
            <div class="form-item">
                <div class="label-form-item">@Html.DisplayNameFor(model => model.First().TERDAFTAR)</div>
                @Html.TextBoxFor(mItem => item.TERDAFTAR, new { @readonly = "true" })
            </div>
        </div>
    </div>
    @* End: Detail Data Pasien *@

    @* Begin: Hapus Data Pasien *@
    <div id="del-@item.ID" class="modal-kw-dialog" style="display: none">
        <div class="modal-kw-content">
            <div class="close-modal-kw-dialog" onclick="document.getElementById('del-@item.ID').style.display = 'none'" title="Close">
                X
            </div>
            <div class="form-item">
                <table class="table-csm-text-align-left">
                    <tr>
                        <th colspan="2">Anda Yakin Akan Menghapus Data Berikut?</th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>&nbsp;:&nbsp;@item.ID</td>
                    </tr>
                    <tr>
                        <td>Nama</td>
                        <td>&nbsp;:&nbsp;@item.NAMA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="form-item-flex">
                                @using (Html.BeginForm("DataPasien_Delete", "ADM", FormMethod.Post))
                                {
                                    <input type="hidden" name="ID" value="@item.ID" />
                                    <input type="submit" value="Yes" />
                                }
                                @*<button type="button" onclick="document.getElementById('del-@item.ID').style.display = 'none'" title="Cancel">Cancel</button>*@
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    @* Hapus: Detail Data Pasien *@
}

<style type="text/css">
    .custom-link a {
        text-decoration: none;
        color: dodgerblue;
        font-weight: bold;
    }

        .custom-link a:hover {
            color: darkslateblue;
        }
</style>