@{
    ViewBag.Title = "Index";
}

<div class="body-content">
    <div class="submenu-body-content">
        <div id="BerobatPasien" class="btn-submenu width-200px" onclick="clickLinkByDiv('berobat')">
            @Html.ActionLink("Berobat Pasien", "BerobatPasien", "ADM", null, new { id = "berobat" })
        </div>

        <div id="PengambilanObat" class="btn-submenu width-200px" onclick="clickLinkByDiv('obat')">
            <div class="notif-btn-submenu" id="notif">10</div>
            @Html.ActionLink("Pengambilan Obat", "PengambilanObat", "ADM", null, new { id = "obat" })
        </div>

        <div id="DataPasien" class="btn-submenu width-200px" onclick="clickLinkByDiv('dt-pasien')">
            @Html.ActionLink("Data Pasien", "DataPasien", "ADM", null, new { id = "dt-pasien" })
        </div>

        <div id="DaftarPasienBaru" class="btn-submenu width-200px" onclick="clickLinkByDiv('daftar')">
            @Html.ActionLink("Daftar Pasien Baru", "DaftarPasienBaru", "ADM", null, new { id = "daftar" })
        </div>
    </div>

    <div class="content-body-content">
        <div class="form-content">
            <input type="text" id="mode" value="@ViewBag.ModePenanganan" hidden />
            <script type="text/javascript">
                changeClassName(
                    ["DaftarPasienBaru", "BerobatPasien", "PengambilanObat", "DataPasien"],
                    document.getElementById('mode').value,
                    "btn-submenu width-200px margin-bottom-15px",
                    "btn-submenu-active width-200px margin-bottom-15px"
                );
            </script>
            @*
                Menampilkan page yg berada pada Views/Form-ADM/ :
                1. sesuai dengan 'ViewBag.ModePenanganan' yg sudah ditentukan pada controller 'ADMController/TanganiPasien()',
                2. ViewData["DT_PASIEN"] berisi model item dari TB_PASIEN.
            *@
            @Html.Partial($"~/Views/ADM/_{ViewBag.ModePenanganan}.cshtml", ViewData["DT_PASIEN"])
        </div>
    </div>
</div>
