@model IEnumerable<TB_KUNJUNGAN_PASIEN>

<div class="body-content">
    @* Begin: table untuk menampilkan isi konten ------------------------------------------------------------------------------------------------- *@
    <table>
        <tr>
            <td colspan="2">
                <div class="form-item">
                    <h3><u>Penanganan Pasien</u></h3>
                </div>
            </td>
        </tr>

        <tr class="ver-alg-0">
            <td class="min-max-width-400-px">

                @* judul & table untuk menampilkan data antrian *@
                <h4><u>Antrian Pasien</u></h4>
                <b>Jumlah Antrian Pasien:</b> @Model.Count()
                <table class="table-csm" id="tb-antrian-pasien">
                    <tr>
                        <th>No.</th>
                        <th>ID Pasien</th>
                        <th>Nama Pasien</th>
                    </tr>

                    @* jika jumlah data pada 'Model' lebih dari 0 *@
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr id="@item.ID_PASIEN">
                                <td>@item.TB_ANTRIAN_BEROBAT.NO_ANTRIAN.</td>
                                <td>@item.ID_PASIEN</td>
                                <td class="table-csm-text-align-left min-max-width-400-px">@item.TB_PASIEN.NAMA</td>
                            </tr>
                        }
                    }
                    @* jika data pada 'Model' kosong *@
                    else
                    {
                        <tr>
                            <td colspan="3">
                                <b class="text-error">Antrian Kosong.</b>
                            </td>
                        </tr>
                    }
                </table>
            </td>

            <td>
                <div class="content-body-content height-max-content">
                    @{
                        TB_PASIEN dt = new TB_PASIEN();
                        int idKunjungan = 0;
                        if (ViewBag.idTerpilih > 0 && Model.Count() > 0)
                        {
                            @* mengambil detail data pasien dari 'Model' untuk di render html.partial() *@
                            int id = ViewBag.idTerpilih;
                            dt = Model.Single(d => d.ID_PASIEN == id).TB_PASIEN;

                            @* mengambil 'id_kunjungan' dari 'Model' yg akan digunakan di form 'data penanganan pasien' *@
                            idKunjungan = Model.Single(d => d.ID_PASIEN == id && d.TANGGAL_KUNJUNGAN.Date == DateTime.Today).ID;

                            @* mengubah warna baris data yg sedang ditangani pada table antrian *@
                            <script type="text/javascript">
                                    document.getElementById(@dt.ID).style.backgroundColor = "greenyellow";
                            </script>
                        }
                    }

                    @* form untuk menampilkan detail data pasien yg akan/sedang ditangani oleh dokter *@
                    @Html.Partial("~/Views/Shared/_Form_DataPasien_ReadOnly.cshtml", dt)

                    <div class="form-item">
                        <div class="form-item-flex">
                            @{
                                if (Model.Count() > 0)
                                {
                                    <script>idPasienNext = @Model.ToList().First().ID_PASIEN</script>
                                }

                                @* tombol untuk memanggil antrian berikutnya. *@
                                <button type="button" class="m-btn s-btn-foresgreen" onclick="getIdPasien()">Antrian Berikutnya</button>
                            }
                            &nbsp;
                            @{
                                if (ViewBag.idTerpilih > 0)
                                {
                                    @* tombol untuk membuat data pemeriksaan pasien *@
                                    <button type="button" class="m-btn s-btn-orangered" onclick="ShowModalKw('modal-kw-data-pemeriksaan', 'grid')">
                                        Buat Data Pemeriksaan
                                    </button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    @* End: table untuk menampilkan isi konten ------------------------------------------------------------------------------------------------- *@
</div>

@* Begin: form 'data penanganan pasien' ------------------------------------------------------------------------------------------------- *@
@if (ViewBag.idTerpilih > 0 && Model.Count() > 0)
{
    <div class="modal-kw-dialog" id="modal-kw-data-pemeriksaan" style="display: none;">
        <div class="modal-kw-content">
            <div class="close-modal-kw-dialog" onclick="ShowModalKw('modal-kw-data-pemeriksaan', 'none')" title="Close">x</div>

            @using (Html.BeginForm("TanganiPasien", "DKR", FormMethod.Post, new { @id = "submit-form" }))
            {
                <div class="form-item-flex">
                    <h3>
                        <u>Data Penanganan Pasien.</u>
                    </h3>
                </div>
                
                @* Id Kunjungan *@
                <div class="form-item-flex">
                    ID:&nbsp;<text class="text-error">@dt.ID</text>,&nbsp;Nama:&nbsp; <text class="text-error">@dt.NAMA</text>
                </div>
                <input type="hidden" value="@idKunjungan" name="ID_KUNJUNGAN_PASIEN" />

                <div class="form-item">
                    <div class="label-form-item">@Html.Label("Keluhan")</div>
                    @Html.TextArea("KELUHAN", new { @placeholder = "Keluhan", @onchange = "cek()" })
                    <span id="keluhan-err" class="text-error"></span>
                </div>

                <div class="form-item">
                    <div class="label-form-item">@Html.Label("Pemeriksaan")</div>
                    @Html.TextArea("PEMERIKSAAN", new { @placeholder = "Pemeriksaan" })
                    <span id="pemeriksaan-err" class="text-error"></span>
                </div>

                <div class="form-item">
                    <div class="label-form-item">@Html.Label("Diagnosa")</div>
                    @Html.TextArea("DIAGNOSA", new { @placeholder = "Diagnosa" })
                    <span id="diagnosa-err" class="text-error"></span>
                </div>

                <div class="form-item">
                    <div class="label-form-item">@Html.Label("Resep Obat")</div>
                    @Html.TextArea("RESEP_OBAT", new { @placeholder = "Resep Obat" })
                    <span id="resep-obat-err" class="text-error"></span>
                </div>

                <div class="form-item">
                    <div class="label-form-item">@Html.Label("Keterangan")</div>
                    @Html.TextArea("KETERANGAN", new { @placeholder = "Keterangan" })
                </div>

                <div class="form-item">
                    <div class="form-item-flex">
                        <button type="button" class="m-btn s-btn-foresgreen" onclick="verifyDataSubmit()">
                            Submit
                        </button>
                        &nbsp;
                        <button type="button" class="m-btn s-btn-orangered" onclick="OpenLinkNewTab('https://www.google.com')">
                            lihat riwayat sebelumnya
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
}
@* End: form 'data penanganan pasien' ------------------------------------------------------------------------------------------------- *@

@* Audio yg digunakan jika ada antrian baru *@
<audio id="antrian-baru">
    <source src="~/Audio/EQLDS52-start-button.mp3" type="audio/mpeg" />
</audio>

@* Javascript *@
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script type="text/javascript">
    // verify data/field yg akan di submit.
    function verifyDataSubmit() {
        let verSubmit = [];

        // 1. cek field 'KELUHAN'
        if ($('#KELUHAN').val().length > 0) {
            $('#keluhan-err').html('');
            verSubmit.push(true);
        } else {
            $('#keluhan-err').html('Keluhan Pasien Harus Diisi.');
            verSubmit.push(false);
        }

        // 2. cek field 'PEMERIKSAAN'
        if ($('#PEMERIKSAAN').val().length > 0) {
            $('#pemeriksaan-err').html('');
            verSubmit.push(true);
        } else {
            $('#pemeriksaan-err').html('Pemeriksaan Pasien Harus Diisi.');
            verSubmit.push(false);
        }

        // 3. cek field 'DIAGNOSA'
        if ($('#DIAGNOSA').val().length > 0) {
            $('#diagnosa-err').html('');
            verSubmit.push(true);
        } else {
            $('#diagnosa-err').html('Diagnosa Pasien Harus Diisi.');
            verSubmit.push(false);
        }

        // 4. cek field 'RESEP_OBAT'
        if ($('#RESEP_OBAT').val().length > 0) {
            $('#resep-obat-err').html('');
            verSubmit.push(true);
        } else {
            $('#resep-obat-err').html('Resep Obat Harus Diisi.');
            verSubmit.push(false);
        }

        // cek semua field yg akan di submit
        let submit = verSubmit.every(
            function (v) {
                return v == true;
            });

        // jika semua field telah diisi (kecuali 'keterangan' bisa di isi/tidak) maka submit form. 
        if (submit) {
            SubmitForm('submit-form');
        }
    }

    // Id Pasien yg akan digunakan untuk mwmanggil antrian berikutnya
    var idPasienNext;

    // function untuk cek 'idPasienNext' jika id pasien tidak kosong maka panggil antrian
    function getIdPasien() {
        if (idPasienNext > 0) {
            OpenLink('/DKR/TanganiPasien?idPasien=' + idPasienNext);
        } else {
            alert('data null');
        }
    }

    // jumlah data antrian pertama diambil dari 'Model'
    var jmlDataSaatIni = @Model.Count();

    // cek data antrian dengan interval 1 detik
    setInterval(function () {
        $.ajax({
            type: 'get',
            url: '/DKR/UpdateAntrianPasien',
            data: null,
            success: function (data) {
                // jika jumlah data lebih banyak dari 'jmlDataSaatIni'
                if (data.length > jmlDataSaatIni) {
                    // nilai/isi dari variabel ini akan di masukan ke table antrian yg memiliki id="tb-antrian-pasien"
                    var trData = "";

                    for (let i = jmlDataSaatIni; i < data.length; i++) {
                        trData += '<tr id="' + data[i].ID_PASIEN + '" style="background-color: yellow;">' +
                            '<td>' + data[i].NO_ANTRIAN + '.</td>' +
                            '<td>' + data[i].ID_PASIEN + '</td>' +
                            '<td class="table-csm-text-align-left min-max-width-400-px">' + data[i].NAMA + '</td>' +
                            '</tr>';
                    }

                    // jika jumlah data sebelummnya kosong
                    if (jmlDataSaatIni == 0) {
                        idPasienNext = data[0].ID_PASIEN;

                        // element pada table antrian ditimpa dengan '<tr><th>ID Pasien</th><th>Nama Pasien</th></tr>'
                        $('#tb-antrian-pasien').html('<tr><th>ID Pasien</th><th>Nama Pasien</th></tr>');
                    }

                    // menambahkan elemen ke table antrian (id="tb-antrian-pasien"), yg berisi data antrian.
                    $('#tb-antrian-pasien').append(trData);

                    // memutar suara
                    document.getElementById('antrian-baru').play();

                    // update jumlah data
                    jmlDataSaatIni = data.length;
                }
            }
        });
    }, 1000);
</script>